@charset "utf-8";
/* CSS Document */
.usephoto{
	border-radius: 100px;
	width: 116px;
	height: 116px;
}
.img-thumbnail{
	width: 100px;
}
h3{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
}
p{
	width: 200px;
	font-size: 26px;
	margin-left: 22px;
	margin-bottom: 0px;
}
.true{
	color:#1FE700;
}
.content{
	width: 360px;
	height: 236px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 18px;
	border-style:groove;
	background-color: #F7F4F4;
}
.modal-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 700px;
	width: 56%;
    max-height: 600px;
    margin: 100px auto;
    border-radius:10px;
    background-color:#fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
